<header>
 <app-mytab1></app-mytab1>
</header>
<article>
<app-mytab2></app-mytab2>
</article>
<footer>
   <app-mytab3></app-mytab3>
</footer>

















<!-- <header>
  <app-mytab></app-mytab>
</header>

<section>
 <nav>
    <app-mytab1></app-mytab1>
  </nav>
<article> 
  <app-mytab2></app-mytab2>
  </article> 
</section>

<footer>
    <app-mytab3></app-mytab3>
</footer> -->
<!--
<label > {{minutes}}minutes:{{seconds}} seconds</label>
<br>
<button (click)='onStart()'>Start Timer</button>
<button (click)='pause()'>Pause</button>
-->


<!--<app-mytab4></app-mytab4>-->